.hero .view-more {
  width: 175px;
  text-align: center;
  margin-bottom: 70px;
}

.hero .view-more h3 {
  font-weight: 700;
  font-size: 18px;
  margin: 0;
}

.hero .view-more.card {
  padding: 13px 22px;
  margin-top: 16px;
}

