
.form-container {
    max-width: 1200px;
    margin: 0 auto;
}

form label {
    display: block;
}

form input {
    width: 100%;
    margin-bottom: 1rem;
    padding: 0.5rem;
}

form input[type="submit"] {
    width: 100px;
    margin: 0 auto;
    padding: 1rem;
}