.header {
  padding: 0px;
  margin-left: 2%;
}

.header h1 {
  font-size: 4rem;
  line-height: 69px;
  color: #3F3631;
  margin: 0px 0px 20px 0px;
}

.header p {
  font-weight: 400;
  font-size: 1.25rem;
  color: #9C8E76;
}

.header h2 {
  margin: 50px 0px;
  color: #828282;
  font-size: 20px;
  font-weight: 700;
}

.sub-title {
  color: #EB5757;
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
}