nav {
  padding: 3% 6%;
  justify-content: space-between;
}

.nav-items-list {
  list-style: none;
  justify-self: center;
  flex-grow: 1;
  display: flex;
  justify-content: center;
}

.nav-items-list li {
  padding-left: 30px;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0em;
  text-align: left;
}

.profile-icon {
  width: 50px;
  height: 50px;
  transform: scale(2.0);
}

.active {
  color: #EB5757;
  text-decoration: underline;
}

.nav-bar-link {
  display: inline-block;
  position: relative;
}

.nav-bar-link:hover {
  color: #EB5757;
}

.nav-bar-link:after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 1px;
  bottom: 0;
  left: 0;
  background-color: #eb5757;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.nav-bar-link:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.burger-icon {
  width: 2rem;
  height: 2rem;
  z-index: 20;
  display: none;
}

@media (max-width: 768px) {
  .burger-icon {
    display: flex;
    justify-content: space-around;
    flex-flow: column nowrap;
  }

  .nav-items-list {
    list-style: none;
    justify-self: center;
    flex-grow: 1;
    flex-direction: column;
    justify-content: space-around;
    align-content: center;
    width: 100vw;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
    padding: 0;
    margin: 0;
    z-index: 15;
    display: none;
  }

  .nav-items-list li {
    flex-grow: 1;
    font-size: 2rem;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: whitesmoke;
  }

  .nav-items-list-display {
    display: flex;
  }

}

.burger-icon div {
  width: 2rem;
  height: 0.25rem;
  background-color: #ccc;
  border-radius: 10px;
  transform-origin: 1px;
  transition: all 0.3s linear;
}

.burger-icon div:nth-child(1) {
  transform: rotate(-45deg);
  transform: translateY(-0.5rem);
}
.burger-icon div:nth-child(2) {
  transform: translateX(0);
  opacity: 1;
}

.burger-icon div:nth-child(3) {
  transform: rotate(45deg);
  transform: translateY(0.5rem);
}