
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

* {
  box-sizing: border-box;
}

:root {
  font-size: 16px;
}

body {
  font-family: 'Open Sans', sans-serif;
  margin: 0px;
  overflow-x: hidden;
}

.container {
  position: relative;
  min-height: 1297px;
}

a {
  color: black;
  text-decoration: none;
}

p {
  margin: 0px;
}

.d-flex {
  display: flex;
}

.flex-col {
  flex-direction: column;
}

.justify-content-center {
  justify-content: center;
}

.justify-content-space-between {
  justify-content: space-between;
}

.align-items-center {
  align-items: center;
}

.w-100 {
  width: 100%;
}

.m-auto {
  margin: auto;
}

/* Nav Bar */
nav {
  padding: 3% 6%;
  justify-content: space-between;
}

.nav-items-list {
  list-style: none;
  justify-self: center;
  flex-grow: 1;
  display: flex;
  justify-content: center;
}

.nav-items-list li {
  padding-left: 30px;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0em;
  text-align: left;
}

.profile-icon {
  width: 50px;
  height: 50px;
  transform: scale(2.0);
}

/* background */
.ellipses {
  position: absolute;
  left: 0px;
  right: 0px;
  width: 100%;
  z-index: -1;
}

.gradient-bg {
  background: linear-gradient(180deg, rgba(228, 239, 233, 0) 0%, #ECF8F1 6.25%);
}

.blur-bg {
  background: rgba(255, 255, 255, 0.7);
  backdrop-filter: blur(100px);
}

/* main */
.hero .view-more {
  width: 175px;
  text-align: center;
  margin-bottom: 70px;
}

.hero .view-more h3 {
  font-weight: 700;
  font-size: 18px;
  margin: 0;
}

.hero .view-more.card {
  padding: 13px 22px;
  margin-top: 16px;
}

.item {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 220px;
}

.item img {
  z-index: 10;
  margin-bottom: -130px;
  width: 100%;
}

.item h3 {
  font-weight: 700;
  font-size: 18px;
  color: #3F3631;
}

.item p {
  font-weight: 400;
  font-size: 12px;
  color: #9C8E76;
}

.item .card {
  padding: 130px 14px 30px 14px;
}

.card {
  background-color: white;
  box-shadow: 2px 10px 40px rgba(45, 65, 102, 0.1);
  border-radius: 10px;
}

.highlight {
  text-align: center;
  width: 320px;
  flex-shrink: 0;
  flex-grow: 1;
  width: 320px;
  margin-left: 100px;
}

.highlight .card {
  padding: 200px 21px 31px 21px;
}

.highlight img {
  z-index: 10;
  margin-bottom: -200px;
}

.highlight.item p {
  font-size: 16px;
}

.highlight.item h3 {
  font-size: 18px;
}

.highlight .tags {
  color: #3F3631;
  font-weight: 700;
  font-size: 22px;
  padding-top: 20px;
  width: 80%;
}

.main-items-wrapper {
  flex-grow: 5;
  flex-basis: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: flex-end;
}


.header {
  padding: 0px;
  margin-left: 50px;
}

.header h1 {
  font-size: 4rem;
  line-height: 69px;
  color: #3F3631;
  margin: 0px 0px 20px 0px;
}

.header p {
  font-weight: 400;
  font-size: 1.25rem;
  color: #9C8E76;
}

.header h2 {
  margin: 50px 0px;
  color: #828282;
  font-size: 20px;
  font-weight: 700;
}

.sub-title {
  color: #EB5757;
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
  align-items: end;
  column-gap: 6rem;
  row-gap: 6rem;
  padding: 100px 100px 128px 100px;
}

.active {
  color: #EB5757;
  text-decoration: underline;
}

.nav-bar-link {
  display: inline-block;
  position: relative;
}

.nav-bar-link:hover {
  color: #EB5757;
}

.nav-bar-link:after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 1px;
  bottom: 0;
  left: 0;
  background-color: #eb5757;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.nav-bar-link:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

@media (max-width: 1500px) {
  .lg-visible {
    display: none !important;
  }
}

@media (max-width: 600px) {
  .nav-items-list {
    display: none;
  }
}

@media (max-width: 450px) {
  .main-items-wrapper {
    flex-direction: column;

    justify-content: center;
    align-items: center;
  }
}