
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

* {
  box-sizing: border-box;
}

:root {
  font-size: 16px;
}

body {
  font-family: 'Open Sans', sans-serif;
  margin: 0px;
}

#root {
  overflow-x: hidden;
}

.container {
  position: relative;
  min-height: 100vh;
  overflow-x: hidden;
}

a {
  color: black;
  text-decoration: none;
}

p {
  margin: 0px;
}

.d-flex {
  display: flex;
}

.flex-col {
  flex-direction: column;
}

.justify-content-center {
  justify-content: center;
}

.justify-content-space-between {
  justify-content: space-between;
}

.align-items-center {
  align-items: center;
}

.w-100 {
  width: 100%;
}

.m-auto {
  margin: auto;
}


.main-items-wrapper {
  flex-grow: 5;
  flex-basis: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: flex-end;
}



.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
  align-items: end;
  column-gap: 6rem;
  row-gap: 6rem;
  padding: 100px 100px 128px 100px;
}


@media (max-width: 1500px) {
  .lg-visible {
    display: none !important;
  }
}

@media (max-width: 600px) {
  .nav-items-list {
    display: none;
  }
}

@media (max-width: 450px) {
  .main-items-wrapper {
    flex-direction: column;

    justify-content: center;
    align-items: center;
  }
}